/* Google font import */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Google font area end */

* ,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    padding: 12px 35px;
    background-color: #4E47FF;
    color:#fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
     background-color: #F1C60D;
     color:rgb(9, 9, 9);
     font-size: 14px;
}
/* header singup area without nav link*/
header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.header_singup_area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    padding: 0;
}
.header_logo{
    color: #4E47FF;
    font-size: 30px;
    font-weight: 900;
}
.header_banner{
    padding: 110px 270px 35px;
    font-size: 60px;
    font-weight: 700;
}
.header_banner_area button{
    margin-bottom: 130px;
}

/* action area  */

#action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
}
.action_content_area{
    display: flex;
    flex-direction: column;
    gap:20px
}
.action_content_area h2{
    font-size: 38px;
    color: #252432;

}
.action_content_area p{
    font-size: 20px;
    color: #252432;
}
.action_image_area img{
    border-radius: 45px;
}

/* productive_user area*/

#productive_user{
    text-align: center;
    background-color: #E5E7FF;
    margin: 100PX;
    border-radius: 25px;
    padding: 50px 140px;
}
#productive_user h2{
    font-size: 35px;
}
#productive_user .card_area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}
#productive_user .card_area .card_item h1{
    font-size: 75px;
    color: #4E47FF;
}
#productive_user .card_area .card_item p{
    font-size: 20px;
    color: #585555;
}
