/* Google font import */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Google font area end */

* ,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.btn{
    padding: 12px 35px;
    background-color: #4E47FF;
    color:#fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
     background-color: #F1C60D;
     color:rgb(9, 9, 9);
     font-size: 14px;
}
/* header singup area without nav link*/
header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100%;
}
.header_singup_area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    padding: 0;
}
.header_logo{
    color: #4E47FF;
    font-size: 30px;
    font-weight: 900;
}
.header_banner{
    padding: 110px 270px 35px;
    font-size: 60px;
    font-weight: 700;
}
.header_banner_area button{
    margin-bottom: 130px;
}

/* action area  */

#action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 200px 100px;
}
.action_content_area{
    display: flex;
    flex-direction: column;
    gap:20px
}
.action_content_area h2{
    font-size: 38px;
    color: #252432;

}
.action_content_area p{
    font-size: 20px;
    color: #252432;
}
.action_image_area img{
    border-radius: 45px;
}

/* productive_user area*/

#productive_user{
    text-align: center;
    background-color: #E5E7FF;
    margin: 200px 100px;
    border-radius: 25px;
    padding: 50px 140px;
}
#productive_user h2{
    font-size: 35px;
}
#productive_user .card_area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}

#productive_user .card_area .card_item h1{
    font-size: 75px;
    color: #4E47FF;
}
#productive_user .card_area .card_item p{
    font-size: 20px;
    color: #585555;
}

/* review area */

#review_area{
    text-align: center;
    margin: 200px 100px;
}
#review_area h1{
    font-size: 35px;
    margin-bottom: 50px;
}
#review_area .card_area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    gap: 50px;
}
#review_area .card_area .card_item{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.1) , -10px -10px 10px  rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
}
#review_area .card_area .card_item:hover{
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1) ,inset -10px -10px 10px  rgba(0, 0, 0, 0.1);
}
#review_area .card_area .card_item .reviewer_Details{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
#review_area .card_area .card_item .reviewer_Details img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#review_area .card_area .card_item .reviewer_Details h4{
    color: #a59d9d;
}
#review_area .card_area .card_item .reviewer_Details p{
    color: #aa9d9d;
}


/* webflow area */

#webflow_area{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 200px 100px;
    gap:30px
    
}
#webflow_area h1{
    font-size: 45px;
}
#webflow_area p{
    font-size: 18px;
    color: #a59d9d;
}
#webflow_area img{
    border-radius: 45px;
}

/* fotter area */

/* footer input area */

footer .message_area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px ;
}
footer .message_area h1{
    font-size: 80px;
}
footer .message_area .input_aree{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
}
footer .message_area .input_aree input{
    outline: none;
    border: 0.3px solid rgb(198, 187, 187);
    border-radius: 10px;
    padding: 15px;
    width: 400px;
}
footer .message_area .input_aree textarea{
    outline: none;
    border: 0.3px solid rgb(198, 187, 187);
    border-radius: 10px;
    padding: 15px;
    width: 400px;
}

/* footer logo area */

footer .logo_area{
    text-align: center;
}

footer .logo_area .logo{
    font-size: 90px;
    padding: 30px;
    font-weight: 700;
    color:#4E47FF
}
footer .logo_area .text{
    font-size: 90px;
    color:#a4a4ac;
    font-size: 15px;
}

/* footer nav area  */
nav{
    margin: 20px auto;
    width: 400px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #907e7e;
    padding: 10px;
     border-radius: 10px;

}
nav ul li a:hover{

    background-color: #4E47FF;
    color: #f5eded;
}
